* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* header */

.head{
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #FF6900;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  box-shadow: 0px 5px 5px rgb(148, 148, 148);
  z-index: 999;
}

.container ul li {
  list-style: none;
  display: inline-block;
}

.container ul li a {
  text-decoration: none;
  color: white;
}

.container ul:first-child li a {
  margin-right: 5px;
}

.container ul:last-child li a {
  margin-left: 5px;
}

.logo {
  width: 120px;
}

/* main */

.img {
  width: 100%;
}


.clothes {
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  position: relative;
  width: 300px;
  margin: 100px 10px 0;
}

.heart {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: white;
  padding: 5px 10px;
}

.discount {
  position: absolute;
  bottom: 40px;
  left: 0;
  font-size: 10px;
  background-color: red;
  padding: 3px 10px;
  color: white;
}

.eco {
  position: absolute;
  bottom: 40px;
  left: 45px;
  font-size: 10px;
  background-color: green;
  padding: 3px 10px;
  color: white;
}

.left {
  left: 0;
}

.brand {
  position: absolute;
  left: 0;
  bottom: -20px;
}

.item {
  position: absolute;
  left: 0;
  bottom: -40px;
}

.price {
  position: absolute;
  left: 0;
  bottom: -60px;
  color: red;
}

.old-price{
  position: absolute;
  left: 60px;
  bottom: -60px;
  text-decoration: line-through;
}

.imgb {
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}


.disappear:hover .imgb{
display: block;
cursor: pointer;
}

.rheart {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: white;
  padding: 5px 10px;
  color: red;
  display: none;
}

.disappearheart:hover .rheart {
  display: block;
  cursor: pointer;
}

/* footer */

footer {
  background-color: black;
}

.foot {
  margin-top: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px;
}

.left-foot {
  color: white;
}

.right-foot {
  color: white;
  height: 50px;
}

.left-foot h4 {
  font-size: .9rem;
  padding-bottom: 10px;
  padding-left: 5px;
}

.left-foot ul li a{
  font-size: .7rem;
}

.search {
  font-size: .9rem;
  padding-top: 10px;
}

.right-foot li {
  padding-top: 10px;
}

.right-foot ul {
font-size: .8rem;
}