* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* header */

.head{
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #FF6900;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  box-shadow: 1px black;
}

.container ul li {
  list-style: none;
  display: inline-block;
}

.container ul li a {
  text-decoration: none;
  color: white;
}

.container ul:first-child li a {
  margin-right: 5px;
}

.container ul:last-child li a {
  margin-left: 5px;
}

.logo {
  width: 120px;
}